<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef> Title. </th>
      <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Subtitle">
      <th mat-header-cell *matHeaderCellDef> Subtitle </th>
      <td mat-cell *matCellDef="let element"> {{element.Subtitle}} </td>
    </ng-container>

    <ng-container matColumnDef="Subtitle2">
      <th mat-header-cell *matHeaderCellDef> Subtitle2 </th>
      <td mat-cell *matCellDef="let element"> {{element.Subtitle2}} </td>
    </ng-container>

    <ng-container matColumnDef="GPA">
      <th mat-header-cell *matHeaderCellDef> GPA </th>
      <td mat-cell *matCellDef="let element"> {{element.GPA}} </td>
    </ng-container>

    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
    </ng-container>

    <ng-container matColumnDef="CreatedDate">
      <th mat-header-cell *matHeaderCellDef> CreatedDate </th>
      <td mat-cell *matCellDef="let element"> {{element.CreatedDate}} </td>
    </ng-container>
    <ng-container matColumnDef="UpdatedDate">
      <th mat-header-cell *matHeaderCellDef> UpdatedDate </th>
      <td mat-cell *matCellDef="let element"> {{element.UpdatedDate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator (page)="pageChanged()" [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
